<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @celeb.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @celeb.last_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @celeb.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @celeb.dob %>
</p>

<p>
  <strong>Dod:</strong>
  <%= @celeb.dod %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @celeb.bio %>
</p>

<%= link_to 'Edit', edit_celeb_path(@celeb) %> |
<%= link_to 'Back', celebs_path %>
