<%= form_for(@endorsement) do |f| %>
  <% if @endorsement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@endorsement.errors.count, "error") %> prohibited this endorsement from being saved:</h2>

      <ul>
      <% @endorsement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :celeb_id %><br>
    <%= f.number_field :celeb_id %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :contract %><br>
    <%= f.text_area :contract %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
